@import "tailwindcss";
@plugin "daisyui";
.swiper-pagination-bullet{
     background-color: rgba(255,255,0, 0.5) !important;
}
.swiper-pagination-bullet-active{
     background-color: #facc15 !important;
}