@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme{
     --font-grif: "Griffy", system-ui;
     --font-mon: "Montserrat", sans-serif;
}
html, body, #root{
     @apply bg-black text-white min-h-screen
}
.swiper-pagination-bullet{
     background-color: rgba(255,255,0, 0.5) !important;
}
.swiper-pagination-bullet-active{
     background-color: #facc15 !important;
}
.movie-card {
  background: #111;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}